# Ignore everything by default
*

# Include todo file
!todo.md

# Include git config
!.gitconfig
!.gitignore

# Include homedir python and shell scripts
*.py
*.sh

# Include shell config
!.profile
!.bashrc
!.bash_profile
!.zprofile
!.zlogin
!.zsh
!.zsh/**
!.zshenv
!.zshrc
!.ys-fib.zsh-theme

# Vim config
!.vim
!.vim/**
!.vimrc

# Screen and tmux
!.screenrc
!.tmux.conf
!.tmux
!.tmux/**

# dmenu
!.dmrc

# urxvt
!.xinitrc
!.Xresources
!.urxvt
!.urxvt/**

#i3
!.config
!.config/i3
!.config/i3/**
!.config/i3status
!.config/i3status/**

#firefox user css
!.mozilla
!.mozilla/firefox
!.mozilla/firefox/1fkx5jd6.default
!.mozilla/firefox/1fkx5jd6.default/chrome
!.mozilla/firefox/1fkx5jd6.default/chrome/userChrome.css
!.mozilla/firefox/1fkx5jd6.default/chrome/userContent.css
